extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, architecto? Dolore unde alias laudantium vitae molestiae, iusto dicta aliquid cumque dolorum numquam error sequi itaque ullam, perspiciatis, porro iure enim!Inventore sequi dolorem non, suscipit pariatur tempora libero vel animi consectetur deleniti repellat fuga consequuntur incidunt deserunt officia a doloremque iure odio ab fugit maxime molestiae quo harum. Molestias, debitis.Ut sit reiciendis fugiat animi, commodi eveniet nihil facilis repudiandae necessitatibus
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore nihil voluptatibus quos at ab! Eligendi necessitatibus rerum, repudiandae vero at doloremque quam sit iusto. Mollitia saepe doloremque libero quisquam laboriosam.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga tenetur quas, temporibus commodi itaque similique corrupti ipsam perspiciatis pariatur dolorum, veniam alias perferendis porro nobis laboriosam molestias, aut assumenda rem!
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="/img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam nulla quis obca
                
                .col-md-4 
                    img(src="/img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam nulla quis obca

                .col-md-4 
                    img(src="/img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam nulla quis obca